@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

/*-- scss:defaults --*/

// Typography
$font-family-sans-serif: "Lato", sans-serif;
$headings-font-family: "Lato", sans-serif;

// Base document colors
$navbar-bg: #4169E1;

// Code blocks
$code-block-bg-alpha: -.8;